{% extends 'base.html' %}

{% block main %}
    <h1>Lista de Departamentos</h1>
    <a class="btn btn-info" href="{% url 'departamento_create' %}">Novo Departamento</a>
    <table>
        <thead>
            <th>Nome</th>
            <th>Ação</th>
        </thead>
        <tbody>
        {% for departamento in object_list %}
            <tr>
                <td>
                    <a href="{% url 'departamento_edit' departamento.id %}">
                        {{ departamento.nome }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'departamento_delete' departamento.id %}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}