{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    {% if object %}
        <h1>Atualiza funcionário</h1>
    {% else %}
        <h1>Cria Novo funcionário</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}

        {% if object %}
            <button class="btn btn-outline-primary">Atualizar</button>
        {% else %}
            <button class="btn btn-outline-primary">Gravar</button>
        {% endif %}

    </form>
    <br>

    {% if object %}
    <a href="{% url 'documento_create' object.id %}"
       class="btn btn-outline-success">Adicionar Documento
    </a>
    {% endif %}

    {% if object.documento_set.all %}
<hr>
        <h5>Documentos em Anexo</h5>
        <ul>
        {% for documento in object.documento_set.all %}
            <li>
                <a href="{{ documento.arquivo.url }}">
                {{ documento }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}