{% extends 'base.html' %}

{% block main %}
    <div class="row">
    <div class="col-sm bg-success">
        <p class="text-center">One of three columns</p>
        <p class="text-center">Rio de Janeiro</p>
    </div>
    <div class="col-sm bg-info">
       <p class="text-center">One of three columns</p>
      <p class="text-center">Salvador</p>
    </div>
    <div class="col-sm bg-warning">
      <p class="text-center">One of three columns</p>
      <p class="text-center">São Paulo</p>
      <p class="text-center">  <a  href="{% url 'logout' %}">Logout</a></p>
    </div>
  </div>


{% endblock %}
